### Java files

# Compiled class file
**/*.class
# Log file
**/*.log
# BlueJ files
*.ctxt
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Intellij files

**/.idea/
**/vcs.xml
**/compiler.xml
**/encodings.xml
**/misc.xml
**/workspace.xml
**/modules.xml
**/*.iml
**/Build/
**/out/

### servidores ou executaveis
**/*.exe
**/*.bat
**/apache-tomcat-8.5.24-windows-x64/

### Eclipse
**/.project
**/.classpath
**/.settings
**/.gitignore

### repositorio
**/.git/
